.main__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__container {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form__container input {
  appearance: none;
  border: none;
  border-bottom: 1px solid gray;
  padding: 10px;
}

.form__container input:focus-visible {
  outline: none;
}

.form__container button {
  cursor: pointer;
  appearance: none;
  border: none;
  background-color: transparent;
  border: 1px solid green;
  color: green;
  padding: 24px;
  border-radius: 25px;
}

.form__container button:active {
  transform: scale(0.9);
}
